/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    text-align: center;
}
section{
    padding: 20px;
}
h1{
    margin-bottom: 40px;
    font-size: 5rem;
}
h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-style: italic;
}
h3{
    text-align: center;
    font-size: 2rem;
}

/* UTILITIES */
.students-box{
    display: flex;
    justify-content: center;
    text-align: left;
}
.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover,
.btn:focus{
    background-color: #555;
}


/* APP MAIN */
.app-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* TASK 1 */
.task-1{
    background-color: aquamarine;
}

/* TASK 2 */
.task-2{
    background-color: antiquewhite;
}

/* TASK 3 */
.task-3{
    flex-grow: 1;
    background-color: burlywood;
}
/* Form */
.task-3 input:not([type="submit"]){
    height: 30px;
    padding: 10px;
    font-size: 1rem;
}
.form-group{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

/* TEMPLATE */
.object{
    margin: 10px 25px;
    font-size: 1.5rem;
}