/********************* GENERAL *********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    text-align: center;
}
section{
    padding: 20px 200px;
}
h1{
    margin-bottom: 40px;
    font-size: 5rem;
}
h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-style: italic;
}
h3{
    text-align: center;
    font-size: 2rem;
}

/********************* UTILITIES *********************/
.students-box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}
.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover,
.btn:focus{
    background-color: #555;
}

/********************* APP MAIN *********************/
.app-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* TASK 1 */
.task-1{
    background-color: aquamarine;
}

/* TASK 2 */
.task-2{
    background-color: antiquewhite;
}

/* TASK 3 */
.task-3{
    height: 300px;
    flex-grow: 1;
    background-color: burlywood;
    overflow-y: auto;
}
/* Add Plus */
.add{
    display: flex;
    align-items: center;
    margin-left: 35px;
    padding: 0 50px;
    font-size: 6.5rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px dashed #000;
}
.add:hover{
    color: #555;
}

/********************* MODAL *********************/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}
/* Form */
.user-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
}
.form-group{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}
.user-form input:not([type="submit"]){
    height: 30px;
    padding: 10px;
    font-size: 1rem;
}

/********************* TEMPLATE *********************/
.object{
    margin: 10px 25px;
    font-size: 1.5rem;
}