/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    text-align: center;
}
section{
    padding: 10px;
}
h1{
    margin-bottom: 40px;
    font-size: 5rem;
}
h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-style: italic;
}
h3{
    text-align: center;
    font-size: 2rem;
}

/* UTILITIES */
.students-box{
    display: flex;
    justify-content: center;
    text-align: left;
}


/* APP MAIN */
/* Task 1 */
.task-1{
    background-color: aquamarine;
}

/* Task 2 */
.task-2{
    background-color: antiquewhite;
}

/* TEMPLATE */
.object{
    margin: 10px 25px;
    font-size: 1.5rem;
}